*{
padding: 0;
margin: 0;
}
#Cabesera_Contenido{
    width: 100%;
    background-color: #67999a;
    display: flex;
}
#cuerpo_Contenido{
    background-color: #d3ee9f;
    display: flex;
    padding-top: 50px;
}
footer{
    width: 100%;
    height: 200px;
    border-color: black;
}
#cabecera_nombre_imagen{
    flex: 30%;
}
#Imagen_Nombre_Redondo{
    flex:30%;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    z-index: 1000;
    left: 10px;
    background-image: url(../img/Recurso\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#CabeceraMenu{
    flex: 70%;
    margin: 15px 20px 0 0;
    text-align: right;
}
#Nombre_Rectangulo{
    background-color: #013334;
    width: 35%;
    padding: 20px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 14%;
}
ul li{
    text-decoration: none;
    display: inline;
    border-right: solid 2px #550101;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;

}
#logoinicio{
    background-image: url("../img/Recurso\ 7.png");
    padding: 2px 0 0 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#cuerpo_imagen{
    flex: 40%;
}
#cuerpodetalle{
    flex: 60%;
}
#borderimagen{
    background-color: #d46b68;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 65%;
    margin: auto;
}
img{
    border-radius: 10px;
}
#cuerpodetalle{
    flex: 60%;
}
#botones{
    display: flex;
    padding: 30px;
}
#botonfavorito{
    flex: 50%;
}
#botonubicacion{
    flex: 50%;
}
#marcofavorito{
    background-image: url(/img/Recurso\ 13.png);
}
#marcoubiacion{
    background-image: url(/img/Recurso\ 2.png);
}
.dicenoboton{
    width: 250px;
    background-color: #cccccc;
    border-radius: 20px;
    background-size: 28px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    background-position: left 5px center;
}
.dicenoboton:hover{
    opacity: 50%;
    cursor: pointer;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#datosdetalle{
    text-align: justify;
    padding-top: 40px;
}
#menufooter{
    flex: 20%;
}
#contenidofooter{
    flex: 40%;
}
ul li:last-child{
    border-right: none;
}
#footer{
    display: flex;
    width: 100%;
    background-color: gray;
}
#socialfooter{
    flex: 40%;
    text-align: center;
}
#menufooter{
    flex: 20%;
}
#contenidofooter{
    flex: 40%;
}
nav a{
    display: block;
    padding: 10%;
    color: red;
    text-decoration: none;
}
nav a:hover{
    color: #550101;
    font-size: 20px;
}
.socialfooter li{
    border: none;
}
li img{
    width: 5%;
    padding: 10px;
}
li img:hover{
    opacity: 60%;
    cursor: pointer;
}
#marcodetalle{
    display: flex;
    padding: 50%;
}